// Variables
$blue: #24c7fe;
$lightgrey: #efefef;
$greytext: #a9a9a9;

// Grid
.col-1-3 {width:100%; display: block;}
.col-2-3 {width:100%; display: block;}

// Reusable
.inline {display:inline;}
.grey-text {color: $greytext}
.blue-button {
  color:$blue;
  background-color: white;
  border:2px solid $blue;
  padding:10px 15px;
  margin-top:10px;
  font-size: .8em;
  cursor:pointer;
}
.blue-button:hover {color:white; background-color: $blue;}
.float-left {float:left}
.error {color:red; margin:0}

// Header & Footer
.header {
  background-color: $blue;
  img {height:60px; width: auto; padding-left:10px;}
}

.footer {
  text-align:center;
  background-color: $lightgrey;
  margin:0;
  p {padding:10px 0; color: #b7b7b7;}
}

// Main Body
body {
  margin: 0;
}

.user-form {
  text-align:right;
  margin:0 auto;
  max-width:600px;
  padding:20px;
  .form-group {
    position:relative;
    padding:5px;

    input[type="text"] {
      width:100%;
      height: 25px;
      font-size:1em;
    }

    .location-btn {
      background-color:white;
      padding:0;
      border: none;
      border-left:1px solid #cccccc;
      position:absolute;
      right:0px;
      top:6px;
      cursor:pointer;
      img{
        width:26px;
        height:auto;
      }
    }
  }
}

#map {
  height:400px;
}

h1 {text-align:center; padding:0; padding-bottom: 15px; color:$blue;}
.restaurant-container {
  overflow: scroll;
  height:300px;
  li {
    list-style-type:none;
    padding-left: 15px;
    padding-bottom: 10px;
    h3 {margin:0;}
    p {margin:0;}
  }
}


/* Widescreen */
@media (min-width: 796px) {
  .col-1-3 {width:33.33%; display: inline-block; vertical-align:top;}
  .col-2-3 {width:66.66%; display: inline-block;}
}
